body {
  background-color: #09090a;
  color: white;
  height: 100vh;
}




#usuario h1{

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  font-size: 26px;

}




#usuario, #nome, #email, #senha, #button{
  display: block;
}




#usuario{
  padding: 8px 16px;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 8px;
  border: 1px solid #e74900;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}



#button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #00d4e7;
  background-color: transparent;
  color: white;



  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  line-height: 125%;
}