#tbcadastro {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    border: 2.5px solid #000000;
    margin-top: 12%;
    box-shadow: 6px 6px 6px #e65c00;
    text-align: center;


}